

.david-libre-regular {
    font-family: "David Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .david-libre-medium {
    font-family: "David Libre", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .david-libre-bold {
    font-family: "David Libre", serif;
    font-weight: 700;
    font-style: normal;
  }